.about-banner {
	width: 100%;
	position: relative;
}
.about-title {
	position: absolute;
	display: flex;
	align-items: center;
	top:0;
	height:100%;
}
.about-1 {
	position: absolute;
	top: 0;
	height: 100%;
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	z-index: 2;
	left: 15px;
	
}
.about-1 div {
	background: rgba(0,0,0,0.6);
	color: #fff;
	width: 1250px;
	line-height: 2;
	height: 687px;
	letter-spacing:0.1em;
	padding: 5em ;
}

.index-tab p {
	cursor: pointer;
	font-weight: 600;
}
.index-tab p a.active {
	color: #960005;
}
.about-2 {
	position: fixed;
	width:1262px;
	top: 100px;
	/* left: 10%; */
	text-align: right;
}
.about-3 {
	text-align: right;
}
.about-3-bo {
	/*overflow: scroll;*/
    position: fixed;
    height: 50%;
    width: 60%;
    right: 110px;
    bottom: 5em;
    display: flex;
    align-items: center;
}
.swiper-button-prev, .swiper-button-next{
	background: #fff;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 1px;
}
.about-3-img {
	width: 30em;
}
.about-3-swipe {
	/*margin-top: 15em;*/
	width: 80%;
	padding-left: 1em;
	margin-left: 10%;
}
@media screen and (min-width: 1680px) {
    .about-3-img {
		width: 45em;
	}
}
.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background: #666666;
	opacity: 1;
	border-radius: 50%;
}
.swiper-pagination-bullet:nth-of-type(1)::after {
	position: relative;
	top: 25px;
	font-size: 20px;
	left: -8px;
	content: "2009"
}
.swiper-pagination-bullet:nth-of-type(2)::after {
	position: relative;
	top: 25px;
	font-size: 20px;
	left: -8px;
	content: "2015"
}
.swiper-pagination-bullet:nth-of-type(3)::after {
	position: relative;
	top: 25px;
	font-size: 20px;
	left: -8px;
	content: "2016"
}
.swiper-pagination-bullet:nth-of-type(4)::after {
	position: relative;
	top: 25px;
	font-size: 20px;
	left: -8px;
	content: "2017"
}
.swiper-pagination-bullet:nth-of-type(5)::after {
	position: relative;
	top: 25px;
	font-size: 20px;
	left: -8px;
	content: "2018"
}
.swiper-pagination-bullet:nth-of-type(6)::after {
	position: relative;
	top: 25px;
	font-size: 20px;
	left: -8px;
	content: "2018"
}
.swiper-pagination-bullet:nth-of-type(7)::after {
	position: relative;
	top: 25px;
	font-size: 20px;
	left: -8px;
	content: "2019"
}
.swiper-pagination {
	text-align: left;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin-right:11%;
}
.swiper-pagination-bullet-active {
	width: 24px;
	height: 24px;
	top: -5px;
	position: relative;
	border-radius: 50%;
	background: #800000;
}
.swiper-pagination-bullet-active::after {
	position: relative;
	top: 25px;
	font-size: 20px;
	left: -8px;
	/*content: "2019"*/
}
.about-people {
	width: 100%;
}
.about-3-box {
	overflow: hidden;
    position: fixed;
    height: 50%;
    width: calc(60% + 105px);
    right: 0;
    bottom: calc(5em + 20px);
    border-bottom: 1px solid #BDB6B6;
}
.swiper-slide {
	opacity: 0;
}
.swiper-slide-active {
	opacity: 1;
}
.about-4 {
	position: fixed;
	/*width: 70%;*/
	height: calc(100% - 100px);
	top: 100px;
	right: 0;
}
.about-people-list {
	width: 80%;
	margin-left: 10%;
	position: relative;
	display: inline-block;
	height: 100%;
	margin-top: 29em;
	top:3em;
}
.about-people-list li {
	float: left;
	width: 25%;
	cursor: pointer;
}
.about-people-list li img:nth-of-type(1) {
	position: absolute;
	top: -25em;
	left: -7em;
	opacity: 0;
	width: 95%;
}
.about-people-list li img:nth-of-type(2) {
	width: 6em;
}
.about-people-list li.active {
	z-index: 100;
}
.about-people-list li.active img:nth-of-type(1) {
	opacity: 1;
}

.about-2-3 {
	width: 80%;
	/*text-align: center;*/
	display: flex;
	position: fixed;
	height: 90%;
	justify-content: center;
	align-items: center;
}
.about-2-3 img {
	width: 80%;
}
.about4-ban  {
	height: calc(100% - 100px);
    width: 70%;
    margin-right: 110px;
    position: fixed;
    top: 100px;
    right:0;
}
.about4-ban .about-people-list li {
	width: 33.33%;
	text-align: center;
}
.swiper-button-next, .swiper-button-prev {
	top: 65%;
}
.about4-ban .about-people-list li img:nth-of-type(1) {
	top: -25em;
	left: 1em;
}
@media screen and (min-width: 1680px) {
	.about-people-list li img:nth-of-type(2) {
		width: 10em;
	}
	.about-people-list {
		width: 90%;
		margin-left: 10%;
		position: relative;
		display: inline-block;
		height: 100%;
		margin-top: 40em;
	}
	.about-people-list li {
		float: left;
		width: 25%;
	}
	.about-people-list li img:nth-of-type(1) {
		position: absolute;
		top: -32em;
		left: -7em;
	}

	.about4-ban .about-people-list li img:nth-of-type(1) {
		top: -30em;
		left: 2em;
	}
}

.about-4-con {
	width: 100%;
	text-align: center;
	margin-top: 116px;
	padding:0 55px;
}
.about-4-con div {
	float: left;
	width: 323px;
	height: 323px;
	border:1px solid #fff;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 0 55px;
}
.about-4-con div:hover {
	border:1px solid #800000;
	background: #800000;
}