.header {
	height: 100px;
	padding: 0 110px;
	display: flex;
	font-size: 14px;
	z-index: 1000;
	position: relative;
	align-items: center;
	justify-content:space-between;
	font-weight: 900;
}
.header-nav {
	height: 100px;
}
.header-nav a.header-a {
	display: inline-block;
	height: 100px;
	line-height: 100px;
	margin:0 2rem;
	/* border-bottom: 4px solid #ffffff; */
}
.header-nav span {
	position: relative;
}
.header-nav span span {
	position: absolute;
	width: 200px;
	display: none;
	top: 57px;
    z-index: 100;
}
.header-nav span:hover span {
	display: inline-block;
}
.header-nav span span a {
	display: inline-block;
	padding: 12px 10px;
	width: 190px;
	text-align: center;
	background: #333333;
	border:none;
	color: #FFFFFF;
}
.header-nav span span a:hover {
	background: #960005;
	color: #fff;
	border:none;
}
.header-nav span span a.active {
	background: #960005;
	color: #fff;
	border:none;
}
.header-nav a.active {
	/* border-bottom: 4px solid #800000; */
	background: url(../img/header.svg) no-repeat center bottom;
	color: #800000;
}
.header-nav a:hover {
	background: url(../img/header.svg) no-repeat center bottom;
	color: #800000;
}