<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"> -->
		 <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/header.css"/>
		<link rel="stylesheet" type="text/css" href="../css/work.css"/>
	</head>
	<body>
		<div class="header">
			<div><img src="../img/index/logo.svg" width="168px;" ></div>
			<div class="header-nav">
				<span>
					<a class="header-a" href="/tuying/view/index.html">首页</a>
				</span>
				<span>
					<a class="header-a active">
						业务板块
					</a>
					<span style="left:-35px;">
						<a href="/tuying/view/work-1.html">不良资产价值与挖掘</a>
						<a href="/tuying/view/work-1-2.html">私募基金管理</a>
						<a class="active" href="/tuying/view/work-1-3.html">BE管理系统</a>
					</span>
				</span>
				<span>
					<a class="header-a">秃鹰基金</a>
					<span style="left:-35px;">
						<a href="/tuying/view/money-1.html">旗下基金</a>
						<a href="/tuying/view/money-2.html">投资区域价值</a>
						<a href="/tuying/view/money-3.html">规模和价值</a>
					</span>
				</span>
				<span>
					<a class="header-a">投资案例</a>
					<span style="left:-35px;">
						<a href="/tuying/view/task-1.html">以往项目</a>
						<a href="/tuying/view/task-2.html">最新项目</a>
						<a href="/tuying/view/task-3.html">管理与价值挖掘</a>
					</span>
				</span>
				<span>
					<a class="header-a">关于我们</a>
					<span style="left:-35px;">
						<a href="/tuying/view/about-1.html">公司概况</a>
						<a href="/tuying/view/about-2.html">团队介绍</a>
						
					</span>
				</span>
				<span><a class="header-a" href="/tuying/view/call.html">联系我们</a></span>
			</div>
			<div class="gray">
				<a class="balck">中</a> | 
				<a href="/tuying/view/index-en.html">En</a>
			</div>
		</div>
		<div class="work-ctt" style="background: url(../img/work/banner3.jpg) no-repeat left top;background-size: 1806px;">
			<div>
				<div class="ctt-right">
					<div class="work-tab">
						<div class="work-tab-aa">
							<a class="size-18" href="/tuying/view/work-1.html">不良资产管理与价值挖掘</a>
							<a class="size-18" href="/tuying/view/work-1-2.html">私募基金管理</a>
							<a class="active size-18" href="/tuying/view/work-1-3.html">BE管理系统</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/swiper.min.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript"> 
// 	$(function() { 
// 	var r = document.body.offsetWidth / window.screen.availWidth; 
// 	$(document.body).css("-webkit-transform","scale(" + r + ")"); 
// 	}); 
// 	$(window).resize(function() { 
// 	var r = document.body.offsetWidth / window.screen.availWidth; 
// 	$(document.body).css("-webkit-transform","scale(" + r + ")"); 
// 	}); 
	</script> 
</html>
